<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="../vue.js"></script>
</head>
<body>
    <div id="app">
        <h1>v-if else show</h1>
        <p v-if="show">You can't see me ! <span> hello !</span></p>
        <p v-else :style={color:"red"}>Now you see me!</p>
        <template v-if="show">
            <h1>Heading</h1>
            <p>Inside a template</p>
        </template>
        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show" class="btn btn-primary">Switch</button>
        <hr>
        <h1>v-for</h1>
        <ul>
            <li v-for="(ingre, index) in ingredients" :key="index">{{index}} - {{ingre}}</li>
        </ul>
        <button @click="ingredients.push('spices')"> Add </button>
        <hr>
        <h1>v-for object</h1>
        <ul>
            <li v-for="per in persons" >
                <div v-for="(value,key,index) in per">{{key}} - {{value}} - {{index}}</div>
            </li>
        </ul>
        <h2>through a list of number</h2>
        <span v-for="n in 10">{{n}}</span>
    </div>
</body>
<script>
    new Vue({
        el:'#app',
        data:{
            show:true,
            ingredients:['meat','fruit','cookies'],
            persons:[
                {name:'Simple',age:24,color:'green'},
                {name:'D',age:23,color:'red'}
            ]
        }
    });
</script>
<style>
    #app{
        margin-left: 50px;
    }
</style>
</html>